@font-face {
  font-family: 'Meta';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/MetaWebPro-Bold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Meta';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/MetaWeb-Normal.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Meta';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/MetaWeb-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Meta-Caps';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/MetaScWeb-Normal.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Avenir-Next-Pro-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

.wc-hire-frame {
  /* grayLight */
  background-color: #f9f9f9;
  position: fixed;
  width: 400px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2147483647;
  border: none;
  /* grayMedium */
  border-left: 2px solid #dcdcdc;
  transition: transform 0.3s;
  transform: translateX(410px);
}

.wc-hire-frame.open {
  transform: translateX(0);
}

.wc-hire-toast-frame {
  background-color: white !important;
  position: fixed;
  width: 80px;
  height: 45px;
  top: 85%;
  right: 0;
  z-index: 2147483647;
  border: none;
  /* grayMedium */
  border-left: 2px solid #dcdcdc;
  transition: transform 0.3s;
  transform: translateX(210px);
  box-shadow: 0 0 2px 2px rgba(156,156,156,0.6);
  font-family: Meta, sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
}

.wc-hire-toast-frame.match {
  width: 150px;
}
.wc-hire-toast-frame.link {
  width: 175px;
}

.wc-hire-toast-frame.expanded {
  height: 100px;
  width: 250px;
  transition: height .25s ease, width .25s ease;
}

.wc-hire-toast-frame.open {
  transform: translateX(0);
}
